# Python / FastAPI
backend/venv/
__pycache__/
*.pyc

# Node / Next.js
frontend/node_modules/
frontend/.next/
frontend/.env.local

# System
.DS_Store
Thumbs.db

# Docker volumes (si utilisés plus tard)
data/

# --- DATA ---
*.gpkg
*.shp
*.csv
*.geojson
*.parquet
Données/
data/

